.hidden {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

ol li:nth-child(even) {
	padding-left: 0.5rem;
}
ol li:nth-child(odd) {
	padding-right: 0.5rem;
}

ol {
	padding: 0px;
}
